.body {
    background-color: gainsboro;
}
.bgimage {
    height: 100vh;
    background: url('images/LiubovSH.jpg');
    background-size: cover;
    position: relative;
}
#about {
    min-height: 100vh;
    align-items: center;
}
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}
.aboutText{
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.ul{
    text-align: center;
    padding-left: 0;
}

li {
    text-align: left; 
    list-style-position: outside; 
}

h3 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 15px;
}
.hero_text {
    text-align:right; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}


@media (max-width: 768px) {
    .hero_title {
        font-size: 3rem;
    }

    .hero_desc {
        font-size: 1.5rem;
    }
    
    .hero_text {
        font-size: 2rem;
    }
}

.navbar-brand {
    font-size: 3rem;
}

.nav-link {
    font-size: 3rem;
}